<!DOCTYPE html>
<html>
  <head>
    <title>LuisPortfolioRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  </head>
  <body>
    <div class="min-h-screen bg-[#0d1117] text-[#c9d1d9] relative overflow-hidden">
      <%= turbo_frame_tag "stars_background" do %>
        <%= render "pages/stars_background" %>
      <% end %>
      <%= render "pages/shooting_stars" %>
      
      <main class="container mx-auto px-4 relative z-10">
        <%= yield %>
      </main>
    </div>
  </body>
</html>